!!! 5
%html
  %head
    %title Eddie's Portfolio
    %link{:rel=>"stylesheet", :href=>"css/reset.css"}
    %link{:rel=>"stylesheet", :href=>"bootstrap/css/bootstrap.min.css"}
    %link{:rel=>"stylesheet", :href=>"css/style.css"}
  %body
    #container
      #header
        %h1
          #text
            %span#name
            %span#s-portfolio
              's Portfolio
            .clear
          .clear
      .vspacer-50
      #description
        Description: The "white light" represents the source of all my works. Click the crystals to see work related to their respective topics.
      .vspacer-60
      #body_content

        %h3#display-status.message
          Displaying all documents...

        #red-ring
          %img{:src=>"img/ring.png", :width=>"60"}
        #yellow-ring
          %img{:src=>"img/ring.png", :width=>"60"}
        #blue-ring
          %img{:src=>"img/ring.png", :width=>"60"}
        #prism
          #w-source
          -# %img{:src=>"img/red_gem.png", :id=>"red", :class=>"on"}
          %img{:src=>"img/red_gem.png", :id=>"red"}
          .color-title#red-title
            %div Java
          #w-r.filter
          %img{:src=>"img/yellow_gem.png", :id=>"yellow"}
          .color-title#yellow-title
            %div Python
          #w-r-y.filter
          %img{:src=>"img/blue_gem.png", :id=>"blue"}
          .color-title#blue-title
            %div Design
          #w-r-y-b.filter

          #triangle
            #triangle-actual
          #triangle-r
            #triangle-actual-r
          #prism-object
            %img{:src=>"img/prism.png", :id=>"prism-diffuser"}
            #tooltip-prism
              %p ORDER BY:
              %p
                %a Name
              %p
                %a Date
              %p
                %a Author
          #list-background

          %form{:action=>"", :method=>"POST", :enctype=>"multipart/form-data"}
            %input{:type=>"file", :name=>"file"}
            %br
            %input{:type=>"text", :name=>"tags", :value=>"Tag either: r/y/b/ry/yb/ryb"}
            %br
            %input{:type=>"submit", :name=>"submit", :value=>"Upload!"}

            -# %p.blue-on
            -#   %i{:class=>"icon-file"}
            -#   %span
            -#     Relationship Between Internet QoS and Multicast Methodologies
            -# %p.red-on
            -#   %i{:class=>"icon-file"}
            -#   %span
            -#     Methodology for the Development
            -# %p
            -#   %i{:class=>"icon-file"}
            -#   %span
            -#     Enabling the Internet and 8 Bit Architectures with Kisser
            -# %p
            -#   %i{:class=>"icon-file"}
            -#   %span
            -#     Harnessing Hierarchical Databases Using Authenticated Configurations
            -# %p
            -#   %i{:class=>"icon-file"}
            -#   %span
            -#     Deconstructing the Lookaside Buffer
          .clear
      .vspacer-60
      %div#footer
        %p{:style=>"font-size:1.3em;"}
          TO SEE INTERACTION WITH DOCUMENTS/UPLOAD GO TO:
          %a{:href=>"http://prizmportfolio.appspot.com"} http://prizmportfolio.appspot.com
        %br
        %br
        Design & Front-End by Edward Lee
        %br
        Back-End by Peter Lee
        %br
        %br
        %br
        %a{:href=>"http://www.haml-lang.com/"} HAML
        &nbsp;+&nbsp;
        %a{:href=>"http://www.sass-lang.com/"} SASS
        &nbsp;+&nbsp;
        %a{:href=>"http://jquery.com/"} jQuery
        &nbsp;+&nbsp;
        %a{:href=>"http://twitter.github.com/bootstrap/"} Bootstrap
        %p{:style=>"margin-top:20px;font-size:1.2em;width:300px;text-align:right;"} = Front-End BLISS
        %br
      %script{:src=>"js/jquery-1.8.2.min.js"}
      %script{:src=>"bootstrap/js/bootstrap.min.js"}
      %script{:src=>"js/jquery.filedrop.js"}
      %script{:src=>"js/plupload/gears_init.js"}
      %script{:src=>"js/plupload/plupload.full.min.js"}
      %script{:src=>"js/jquery.form.js"}
      %script{:src=>"js/code.js"}
